  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  body {
    background-color: #f2f3f5;
    color: #9b9b9b;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.8;
  }

  .clearfix {
    zoom: 1;

    &:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
    }
  }

  header {
    margin: 30px auto;
    position: relative;
    width: 1140px;

    #logo {
      float: left;
      img {
        height: 85px;
        overflow: hidden;
        width: 120px;
        background-repeat: no-repeat;
        background-size: 98px 79px;
        display: block;
        margin-left: 25px;
        border-radius: 4px;
      }

    }

    .menu {
      float: left;
      padding: 15px 0 0 29px;

      li {
        display: inline-block;
        margin-right: 26px;

        a {
          color: #1f1f1f;
          font-size: 14px;
          text-decoration: none;
          transition: 0.3s color;
          &:hover {
            color: #00aeef;
          }
        }
      }

      li.menu_item a{
        color: #00aeef;
      }
    }

    .donate {
      position: absolute;
      right: 0;
      top: 4px;

      button {
        background: #F44336;
        border: 2px solid #E57373;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        padding: 13px 12px 11px;
        transition: 0.3s border-color;
        color: #FFEBEE;

        &:hover {
          border-color: #00aeef;
        }
      }
    }
  }

  .homepage {
    margin: 30px auto;
    width: 1145px;

    h2 {
        color: #1f1f1f;
        font-size: 70px;
        font-weight: 400;
        line-height: 1.1;
        max-width: 850px;
    }

    .sub-title {
      color: #CFD8DC;
      font-family: Brother,"Open Sans",Arial,sans-serif;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.7;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    .left-group {
      float: left;
      margin-bottom: 20px;
      width: 460px;

      .image {
        margin-bottom: 8px;

        img {
          border-radius: 6px;
          height: 270px;
          width: auto;
          margin-top: 50px;
        }
      }

      h3 {
        color: #1f1f1f;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
      }
    }

    .right-group {
      float: right;
      width: 650px;

      .info-list li {
        border-bottom: 1px dashed #f44336;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .image {
          float: left;

          img {
            border-radius: 6px;
            height: 105px;
            width: auto;
          }
        }

        .detail {
          float: right;
          padding-top: 3px;
          width: 520px;

          h3 {
            color: #1f1f1f;
            margin-bottom: 6px;
            font-size: 18px;
          }
        }
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .mission {
    margin: 30px auto;
    width: 1140px;

    h2 {
      color: #1f1f1f;
      font-size: 40px;
      margin-bottom: 17px;
      text-align: center;
    }

    .lead-text {
      font-size: 18px;
      margin-bottom: 57px;
      text-align: center;
    }

    .mission-list li {
      background-color: #fff;
      float: left;
      margin-right: 30px;
      min-height: 420px;
      width: 360px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .inner {
        padding: 12px 15px;
      }

      h3 {
        color: #1f1f1f;
        font-size: 24px;
        margin-bottom: 3px;
      }
      .mission-image{
        img{
          border: 0;
          font-style: italic;
          height: auto;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }

  #footer {
    background-color: #325c6a;
    color: #fff;
    line-height: 1.4;
    a {
      color: #fff;
      text-decoration: none;
    }
    .inner {
      margin: 0 auto;
      padding: 40px 0;
      width: 1040px;

      > div {
        float: left;
        margin-right: 50px;
        width: 340px;

        &:last-child {
          margin-right: 0;
          width: 260px;
        }
      }

      h3 {
        font-size: 18px;
        margin-bottom: 30px;
      }

      .info-link {
        ul {
          padding-left: 58px;
        }


        li {
          position: relative;

          &:after {
            content: "●";
            display: block;
            font-size: 16px;
            position: absolute;
            left: -17px;
            top: 0;

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .follow-us {
        ul {
          text-align: right;
        }

        li {
          display: inline;
          margin-right: 1px;

          a {
            display: inline-block;
            height: 50px;
            line-height: 54px;
            opacity: 1;
            text-align: center;
            transition: 0.3s all;
            width: 50px;
            &:hover {
              background-color: #fff;
              color: #666;
            }

            .facebook img {
              margin-right: 5px;
            }
            .instagram img {
              margin-right: 5px;
            }
            .twitter img {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  #footer .copyright {
    border-top: 1px solid #4b707c;
    font-size: 15px;
    padding: 38px 0 35px;
    text-align: center;
  }
